langchain
langsmith
langchain-google-genai
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langchain-weaviate
langgraph
beautifulsoup4
weaviate-client
lxml
voyageai
pillow
psycopg2-binary
langchain-groq
langchain_huggingface
sentence-transformers
langchain-google-genai
psycopg2-binary
fastapi
uvicorn 
python_multipart
langchain_groq
pypdf
langchain_cohere
langchain_elasticsearch
langchain_pinecone
langchain_mongodb
pyjwt
passlib
pydantic
sqlalchemy
pydantic-settings
databases
python-dotenv
psutil
alembic
asyncpg
pydantic[email]
python-multipart
bcrypt==4.0.1
faiss-cpu
chromadb
